{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "navigator": true,
    "module": true,
    "clearTimeout": true,
    "setTimeout": true,
    "document": true,
    "window": true,
    "require": true,
    "it": true,
    "describe": true,
    "beforeEach": true,
    "afterEach": true,
    "__dirname": true,
    "process": true,
    "expect": true,
    "Promise": true,
    "console": true,
    "fetch": true,
    "AbortController": true
  },
  "plugins": ["@typescript-eslint", "react"],
  "rules": {
    "semi": ["error", "never"],
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/indent": ["error", 2],
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "overrides": {
          "interface": {
            "multiline": {
              "delimiter": "semi",
              "requireLast": true
            }
          }
        }
      }
    ]
  }
}
